ul{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color:blue;

}
li{
    float:left;
}
li a, .dropbtn{
    display:inline-block;
    color:black;
    text-align: center;
    padding:14px 70px;
    text-decoration: none;
}



li.dropdown{
    display:inline-block;


}
.dropdown-content{
    display:none;
    position:absolute;
    background-color:aliceblue;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0,2);
    z-index: 1;
    
    


}
.dropdown-content.a:hover{
    background-color:white
}
.dropdown:hover .dropdown-content{
    display:block;
}